.timer {
    margin:0 auto;
    width: 100%;
}

.timer-display {
    text-align: center;
}

.timer-form {
    width: 100%;
    text-align: center;
    display: 0 inline-block;
    margin-bottom: 25px;
}

.timer-input {
    width: 7.5%;
    text-align:left;
    
}

.timer-button-container {
    width: 100%;
    text-align: center;
    display:0 inline-block;
}

.timer-button {
    height: 50px;
    width: 175px;
    background-color: white;
}

.timer-time-container {
    width: 100%;
    text-align:center;
}