.stopwatch {
    margin:0 auto;
    width: 100%;
}

.stopwatch-display {
    text-align: center;
}

.stopwatch-button-container {
    width: 100%;
    text-align: center;
    display:0 inline-block;
}

.stopwatch-button {
    height: 50px;
    width: 175px;
    background-color: white;
}

