.cards {
    margin:0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 30%;
    height: 75px;
    background-color: white;
    text-align:center;
}

.time-names {
    height:inherit;
    vertical-align: middle;
}